<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="test1">
        <classes>
            <class name="test.task1.validator.CarValidatorTest"/>
            <class name="test.task1.parser.ParserTest"/>
            <class name="test.task1.creator.CreatorTest"/>
            <class name="test.task1.repository.CarRepositoryTest"/>
        </classes>
    </test>
</suite>